footer.footer
  .copy
    .links
      h4 All rights reserve to &copy; winrobot 
  .social
    h3 Social Media 
    .links
      a(href="#" target = "_blank")
      i(class="fab fa-facebook")
      |  |  
      a(href="#" target = "_blank")
      i(class="fab fa-twitter") 
  .contact
    h3 Contact
    .links 
      a(href="tel:+918463914092") 
        span(class="fas fa-mobile-alt") Call
        
      |  | 
      a(href="mailto:winrobot@gmail.com" target = "_blank")
        i(class="fas fa-envelope") Email 