footer.d-flex.bg-dark.footer.container-fluid.text-white.position-sticky
  .col-4.d-flex.align-items-center.mt-3
    p All rights reserve to &copy; winrobot 
  .col-4.justify-content-spacebetween(align = 'center') 
    h5 Social Media 
    a(href="#" target = "_blank") facebook
    |  |  
    a(href="#" target = "_blank") twitter 
  .col-4(align = 'center')
    h5 Contact 
    a(href="tel:+918463914092") Call Us
    |  | 
    a(href="mailto:winrobot@gmail.com" target = "_blank") Send Email 