doctype html 
html 
 head 
  title winrobot | #{title}
  link(rel ='shortcut icon' type='image/png' href = '/img/favicon.png')
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/styles.css")
 body
  include _header
  block content 
  include _footer
  script(src="/js/bundle.js") 
  