extends base
 
block content 
 .main
    h3(align='center') Create New Course 
    form.createCourseForm
      input.form-control#name(type = 'text ' placeholder = 'course name')
      br
      input.form-control#duration(type = 'text ' placeholder = 'course duration')
      br
      input.form-control#img(type = 'text ' placeholder = 'course image')
      br
      input.form-control#price(type = 'text ' placeholder = 'course price')
      br
      textarea.form-control#description(name="course description", cols="30", rows="8" placeholder = 'course description')
      br
      h5 curriculum 

      button.btn.addweek Add Week
      
      
      button.btn.btn-primary create course 
    