extends base 
 
block content 
 .main
    .error-template(style="margin:auto; text-align:center;")
        h1 Oops!
        h2 404 Not Found</h2>
        .error-details
          p= message
        .error-actions
          a( href = '/') 
            button.btn Take Me Home