extends base 

block content 
  .main 
    form.forgotPasswordForm
      h3.form-name RESET PASSWORD
      input.form-control#email(type = 'email' name = 'email' placeholder='Email Address') 
      button.btn.btn-primary.my-3 Reset Password
