extends base
block content 
   .main
      form.form
         h1.form-name LOGIN
         input.form-control#email(name = 'email' placeholder = 'Email' type = 'email') 
         input.form-control#password(name = 'password' placeholder = 'password' type= 'password') 
         button.btn.btn-success Signin
         br
         a(href="/forgotPassword") Forgot Password?