extends base
block content 
   .main
      form.resetPasswordForm
         h1.form-name Reset Password
         input.form-control#password(name = 'password' placeholder = 'password' type = 'password') 
         input.form-control#confirmPassword(name = 'confirmPassword' placeholder = 'confirm password' type= 'password') 
         button.btn.btn-success Reset Password