body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #000;
    color: aliceblue;
    border: solid lightslategrey;
    margin: 0;
    letter-spacing: 1px;
    font-size: 110%;
    position: relative;

}

.container{
    padding: 20px 10px;

}

/* NAVBAR STYLES */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 10%;
    text-align: center;
    outline: none;
    font-size: 10px;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 8px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .nav-content {
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex : 1 -1 0;
    
  }

.navbar{
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid lightslategrey;
    
}
.brand{
    display: flex;
    align-items: center;
    flex: 1;
  
}
.logo{
    max-width: 80px;
    border-radius: 50%;
    margin: 5px;
}
.brand-name{
    flex: 1;
}
ul.navbar-nav{
    position: absolute;
    top:90px;
    right: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.navbar-nav li{
    flex:1;
    margin: 15px 0;
}
ul.navbar-nav.nav-active{
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    margin: 0 auto;
}

a.navbar-link{
    padding: 0.5em;
    margin:0 0.5em;
    /* border: solid 1px lightgray; */
    /* border-radius: 10px; */
}
a{
   text-decoration: none;
   color: lightgray;
   cursor: pointer; 
}
a.navbar-link:hover{
    background-color: #9e9e9e;
    color: #000;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar-nav .d-flex{
    justify-content: flex-start;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float:inline-start;
}



@media only screen and (min-width: 768px){
    .collapsible{
        display: none;
      }

ul.navbar-nav{
    position:static;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin: 0;
    flex: auto;
    
}
}


/* HOME PAGE STYLES */

.main{
    display:flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    
}
.carousel,.cover{
    flex:1;
    margin: auto;
}
.carousel-img,.img-fluid{
    max-width: 100%;
}

.home{
    background-image: url('./../img/carousel/brain_3.jpg');
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
}
.content{
    color: rgb(202, 216, 208);  
}

.home::before{
     content: '';
     position:absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.5);
     z-index: -1;
}

.data{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    }
.heading {
    text-align: justify;
}
.notes{
    max-height:50vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.note{
    display: grid;
    margin-right: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "ntitle ntitle ndate"
                         "ncontent ncontent ncontent ";
}
.ntitle{
    grid-area: ntitle;
    align-self: center;
}
.ndate{
    grid-area: ndate;
    justify-self: end;
    align-self: center;
}
.ncontent{grid-area: ncontent;}

@media (min-width: 768px ) {

        .data{
            text-align: justify;
            display: grid;
            overflow-y: hidden;
            gap: 20px;
            padding: 10px;
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: "heading heading notification";
        }
        .heading{
            grid-area: heading;
            text-align: justify;
        }
        .notifications{
            grid-area: notification;
           
        }
        
        
    
}

/* FOOTER STYLES */

.footer{
    flex: 0 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid lightslategrey;
}
.copy,.social,.contact{
  flex: 1;
  }
footer h3,.links{
    text-align: center;
}

footer a{
    color:blueviolet;
}


/* FORMS STYLES */
form{
    display: flex;
    flex-direction: column;
    background-color: #343342a1;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 5px;
    color: black;

}
.form-control{
    display: block;
    height: 3em;
    width: 20em;
    border-radius: 10px;
    margin:5px auto;
    text-align: center; 
    font-size: 1em;
}
.form-name{
    text-align: center;
    color: #79a2ff;

}
form a{
    display:block;
    text-align: center;
    color: blueviolet;
}

/* BUTTONS STYLES  */
.btn{
   display: block;
   height: 3em;
   width: 10em;
   margin: 5px auto;
   cursor: pointer;
   border-radius: 10px;
}

/* COURSES STYLES */
.container-course{
    border-top: solid lightslategrey;
    display:grid;
    gap: 10px;
    
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "course-img course-img course-img "
                         "course-img course-img course-img "
                         "course-name course-name  weeks"
                         "description description description "
                         "enroll details price ";
}
.img-course{
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    grid-area: course-img;
}
.course-name{
    grid-area: course-name;
    align-self: center;
    margin: 0;
    padding: 0 10px;
}
.weeks{
    grid-area: weeks;
    justify-self: end;
    margin: 0;
    padding: 0 10px;
}
.description{
    grid-area: description;
    text-align: justify;
    padding: 0 10px;
}
.enroll{
    grid-area: enroll;
    background-color: blueviolet;
}
.details{
    grid-area: details;  
}
.btndetails{
    background-color: rgb(136, 194, 28);
}
.price{grid-area: price;}
   

@media only screen and (min-width: 768px) {
.container-course{
    
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "course-img course-img course-name . weeks"
                         "course-img course-img description description description"
                         "course-img course-img enroll details price";
}
}

/* COURSE DETAILS */
.c-data{
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(3);
    grid-template-areas: "cname cname cweeks"
                          "cdesc cdesc cdesc"
                          ". cenroll cprice";
}

.c-data .course-name{
    grid-area: cname;
    align-self: center;
}
.c-data .cweeks{
    grid-area: cweeks;
    align-self: center;
    justify-self: end;
    padding: 0 10px;
}
.c-data .cdescription{
    grid-area: cdesc;
    text-align: justify;
    padding: 0 10px;
}

.c-data .cenroll{
    grid-area: cenroll;
}
.c-data .cprice{
    grid-area: cprice;
}

.reviews{
    margin: 10px auto;
    text-align: center;
}
.carriculum{
  background-color: #1e0f1c;
  margin: 10px auto;
  padding: 10px;
  text-align: center;

}
.course-links{
    list-style-type:none ;
    margin: 10px auto;
    padding: auto;
}
.lesson{
    
    background-color: rgba(0,0,0,0.2);
}
/* ALERT STYLES */

.alert{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  .alert-success{
    background-color: rgb(17, 19, 117);
    border: 1px solid white;
    color:white
  }
  .alert-error{
    background-color:rgb(238, 24, 24);
    border:1px,solid white;
    color: white;
  }